<mat-card class="mat-elevation-z8" style="margin: 10px;">
    <mat-card-header>
        <mat-card-title>Agendar cita</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="filtroForm">
            <mat-grid-list cols="7" rowHeight="77">
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese fecha de la cita</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" formControlName="fechaDesde">
                            <input matEndDate placeholder="End date" formControlName="fechaHasta">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Sede</mat-label>
                        <mat-select formControlName="sedeId">
                          <mat-option value="0" disabled="true" selected>Seleccione una sede</mat-option>
                          <mat-option *ngFor="let sede of listaSedes" [value]="sede.sedeId">{{sede.sedeNombre}} </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Especialista</mat-label>
                        <mat-select formControlName="especialistaId">
                          <mat-option value="0" disabled="true" selected>Seleccione un especialista</mat-option>
                          <mat-option *ngFor="let especialista of listaEspecialistas" [value]="especialista.usuarioId">{{especialista.usuarioNombre}} </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Paciente</mat-label>
                        <mat-select formControlName="pacienteId">
                          <mat-option value="0" disabled="true" selected>Seleccione un paciente</mat-option>
                          <mat-option *ngFor="let paciente of listaPacientes" [value]="paciente.usuarioId">{{paciente.usuarioNombre}} </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width: 100%;height: 70%; text-align: center;">
                        <button mat-raised-button color="accent" (click)="buscar()">Ver horarios</button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
        

        <div>


            <mat-grid-list cols="5" rowHeight="700">
                <mat-grid-tile *ngFor="let dia of dataSource">
                    
                    <div style="height: 700px;width: 100%;">
                        <mat-list>
                            <mat-list-item>
                                <h2>{{dia.horarioDiaNombre}}</h2>
                            </mat-list-item>
                            <mat-list-item style="height: 100%;">
                                <div class="scrollVertical">
                                    <button mat-raised-button 
                                    *ngFor="let item of dia.horarioCitas" 
                                    color="accent" 
                                    style="width: 90%;height: 30px;margin-top: 5px;"
                                    (click)="agendarCita(dia,item)" [disabled]="item.disponibles < 0"
                                    >
                                        {{item.horaCita}}
                                    </button>
                                </div>
                                
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

        </div>


    </mat-card-content>
</mat-card>