<mat-card class="mat-elevation-z8" style="margin: 10px;">
    <mat-card-header>
        <mat-card-title>Agendar cita</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="filtroForm">
            <mat-grid-list cols="8" rowHeight="77">
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese fecha de la cita</mat-label>
                        <mat-date-range-input [rangePicker]="picker" [min]="todayDate">
                            <input matStartDate placeholder="Start date" formControlName="fechaDesde">
                            <input matEndDate placeholder="End date" formControlName="fechaHasta">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Sede</mat-label>
                        <mat-select formControlName="sedeId" (valueChange)="filtrarPacientes($event)" required>
                          <mat-option value="0" disabled="true" selected>Seleccione una sede</mat-option>
                          <ng-container *ngFor="let sede of listaSedes">
                            <mat-option *ngIf="sede.sedeEstado" [value]="sede.sedeId">{{sede.sedeNombre}} </mat-option>
                          </ng-container>
                          
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Especialista</mat-label>
                        <mat-select formControlName="especialistaId" required>
                          <mat-option value="0" disabled="true" selected>Seleccione un especialista</mat-option>
                          <ng-container  *ngFor="let especialista of listaEspecialistaFiltrada">
                            <mat-option *ngIf="especialista.usuarioEstado" [value]="especialista.usuarioId">{{especialista.usuarioNombre}} </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Paciente</mat-label>
                        <mat-select formControlName="pacienteId" required>
                            <mat-option value="0" disabled="true" selected>Seleccione un paciente</mat-option>
                            <ng-container *ngFor="let paciente of listaPacientes">
                                <mat-option *ngIf="paciente.rolId==2 && paciente.usuarioEstado" [value]="paciente.usuarioId">{{paciente.usuarioNombre}} </mat-option>
                            </ng-container>
                          
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width: 100%;height: 70%; text-align: center;">
                        <button mat-raised-button color="accent" (click)="buscar()">Ver horarios</button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
        

        <div>


            <mat-grid-list cols="5" rowHeight="700">
                <mat-grid-tile *ngFor="let dia of dataSource">
                    
                    <div style="height: 700px;width: 100%;">
                        <mat-list>
                            <mat-list-item>
                                <h2>{{dia.horarioDiaNombre}}</h2>
                            </mat-list-item>
                            <mat-list-item style="height: 100%;">
                                <div class="scrollVertical">
                                    <button mat-raised-button 
                                    *ngFor="let item of dia.horarioCitas" 
                                    color="accent" 
                                    [style]="obtenerEstilo(item.disponibles)"
                                    (click)="agendarCita(dia,item)" [disabled]="item.disponibles < 0"
                                    >
                                    <p style="margin: 0;">{{item.horaCita}} - {{tiempoFinal(item.horaCita)}}</p>
                                    <p *ngIf="item.disponibles>=0">Diponibles: {{item.disponibles}}</p>
                                    </button>
                                </div>
                                
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list> 

        </div>


    </mat-card-content>
</mat-card>