<mat-card class="mat-elevation-z8" style="margin: 10px;">
    <mat-card-header>
        <mat-card-title>Administración Sedes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="77">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Búsqueda...</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="accent" (click)="nuevaSede()">Nuevo</button>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="scroll">
            <table mat-table [dataSource]="listaSedes" class="mat-elevation-z8" style="width: 100%;">

                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.sedeNombre}} </td>
                </ng-container>
              
                <ng-container matColumnDef="ubicacion">
                  <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                  <td mat-cell *matCellDef="let element"> {{element.sedeDireccion}} </td>
                </ng-container>
              
                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                  <td mat-cell *matCellDef="let element"> {{element.sedeTelefono}} </td>
                </ng-container>
              
                <ng-container matColumnDef="horarioInicio">
                  <th mat-header-cell *matHeaderCellDef> Horario inicio </th>
                  <td mat-cell *matCellDef="let element"> {{element.sedeHoraDesde}} </td>
                </ng-container>
              
                <ng-container matColumnDef="horarioFin">
                    <th mat-header-cell *matHeaderCellDef> Horario fin </th>
                    <td mat-cell *matCellDef="let element"> {{element.sedeHoraHasta}} </td>
                  </ng-container>

                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> <mat-icon>{{element.sedeEstado?'done':'clear'}}</mat-icon></td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </mat-card-content>
</mat-card>