<div class="loading-page"
       *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<mat-card>
    <mat-card-header>
        <mat-card-title>Nueva Consulta</mat-card-title>
        <form >
            <mat-form-field appearance="outline">
                <mat-label>Nombre completo</mat-label>
                <input matInput type="text" [formControl]="pacienteId" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="crearConsulta(option)">
                    {{option.paciente}}
                    </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </form>

    </mat-card-header>
    <mat-card-content>
        <div *ngIf="historiaId==0 && pacId!==0" class="text-center">
            <p class="text-warning">Este paciente no tiene historia Clínica. Antes de continuar debe crear una</p>
            <button mat-raised-button color="primary" (click)="crearHistoria()">Crear Historia Clínica</button>
        </div>
            <mat-stepper #stepper>
                <mat-step [stepControl]="firstFormGroup" >
                    <ng-template matStepLabel>Problema de Salud</ng-template>
                    <mat-grid-list cols="2" rowHeight="90">
                        <mat-grid-tile  *ngIf="pacId>0" colspan="2">
                            <mat-form-field appearance="outline">
                                <mat-label>Problema</mat-label>
                                <input matInput type="text" [formControl]="problema" [matTooltip]="'Identificación del problema'">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile  *ngIf="pacId>0">
                            <mat-form-field appearance="outline">
                                <mat-label>Motivo</mat-label>
                                <input matInput type="text" [formControl]="motivo" [matTooltip]="'¿Por qué acudió al establecimiento?'">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="pacId>0">
                            <mat-form-field appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput type="text" [formControl]="descripcion" [matTooltip]="'Descripción de la afección'"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2" rowspan="5">
                            <div style="width: 100%;height: 100%;">
                                <mat-grid-list cols="5" rowHeight="50px">
                                    <mat-grid-tile colspan="4" rowspan="9">
                                        <div style="height: 450px;width: 510px;">
                                            <canvas #canvas>
                                            </canvas>
                                        </div>
                                    </mat-grid-tile>
                                    <mat-grid-tile *ngIf="pacId>0">
                                        <button mat-raised-button color="warn" style="width: 90%;" (click)="borrarTodo()">Borrar</button>
                                    </mat-grid-tile>
                                    <mat-grid-tile *ngIf="pacId>0">
                                        <button mat-raised-button color="primary" style="width: 90%;" (click)="guardarEsquema()">
                                            <mat-icon>save</mat-icon>
                                            Cargar imagen
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2" *ngIf="pacId>0">
                            <mat-form-field appearance="outline">
                                <mat-label>Observación del dolor</mat-label>
                                <textarea matInput type="text"  [formControl]="descripcionDolor" [matTooltip]="'¿Cómo observa el problema?'"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-raised-button matStepperNext  *ngIf="pacId>0">Siguiente</button>
                </mat-step>
                <mat-step *ngIf="pacId>0" [stepControl]="secondFormGroup" [editable]="historiaId!=0">
                    <ng-template matStepLabel>Examinación y Diagnostico</ng-template>
                    <mat-grid-list cols="1" rowHeight="95">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Observación</mat-label>
                                <textarea matInput type="text" [formControl]="observacion" [matTooltip]="'Descripción médica de la afección'"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Inspección</mat-label>
                                <textarea matInput type="text" [formControl]="inspeccion" [matTooltip]="'Si se utilizó herramientas extras para evaluar el problema'"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile rowspan="4">
                            <div style="height: 100%;width: 100%;">
                                <mat-grid-list cols="4" rowHeight="90">
                                    <mat-grid-tile colspan="2">
                                        <input type="file" accept="image/png, image/jpeg" #fileInput/>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-raised-button (click)="limpiarImagenes();" color="accent">Borrar imagenes</button>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-raised-button (click)="uploadFile();" color="primary">Subir</button>
                                    </mat-grid-tile>
                                    <mat-grid-tile rowspan="3" colspan="2">
                                        <div class="scroll">
                                            <mat-grid-list cols="2" rowHeight="200px">
                                                <mat-grid-tile *ngFor="let item of listaArchivos">
                                                    <img [src]="item" height="200px">
                                                </mat-grid-tile>
                                            </mat-grid-list>
                                        </div>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Diagnóstico</mat-label>
                                <textarea matInput type="text" [formControl]="diagnostico" ></textarea>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-raised-button matStepperNext color="primary" [disabled]="historiaId==0" (click)="guardarConsulta()">Guardar</button>
                </mat-step>
                <mat-step  >
                    <ng-template matStepLabel>Tratamiento</ng-template>
                    <div style="margin-bottom: 15px;">
                        <button mat-raised-button color="accent" (click)="agregarFase()"><mat-icon>add</mat-icon>Agregar fase</button>
                    </div>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                        <ng-container matColumnDef="fase">
                        <th mat-header-cell *matHeaderCellDef> Fase </th>
                        <td mat-cell *matCellDef="let element"> {{element.tratamientoFase}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fechaInicio">
                        <th mat-header-cell *matHeaderCellDef> Fecha inicio </th>
                        <td mat-cell *matCellDef="let element"> {{element.tratamientoFechaInicio}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button mat-raised-button color="primary" (click)="editarFase(element)">Editar</button> 
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    
                    <div class="m-t text-center">
                        <button mat-raised-button color="accent" (click)="terminarConsulta()"> Terminar Cita</button>
                    </div>
                </mat-step>
            </mat-stepper>
    </mat-card-content>
    
</mat-card>