<div class="loading-page"
       *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<div mat-dialog-content>
    <div id="divHtml" style="padding: 40px;width: 1000px;">
      <div style="float:left;margin-bottom:30px;width:20%;text-align: center;">
        <img id="logoTrading" src="assets/fisioblack.png" width="75%">
      </div>
      <div style="float: left;margin-bottom:100px;width:60%;text-align: center;margin-top: 30px;padding-right: 20%;">
        <h1><strong>CENTRO DE REHABILITACIÓN "FLORES FISIOTERAPIA" <br>INFORME DE EVOLUCIÓN DEL TRATAMIENTO </strong> </h1>
      </div>
      <br>
      <div style="width: 100%;margin-bottom: 10px;font-size:16px">
        <strong>Datos de identificación del paciente</strong>
      </div>
      <div style="width: 100%;margin-bottom: 30px;">
        <table style="border: 2px solid grey;border-collapse: collapse;">
          <tbody>
            <tr>
              <td style="border: 2px solid grey;padding:7px 5px;width: 150px;"><strong>Nombre:</strong> </td>
              <td style="border: 2px solid grey;padding:7px 5px;width: 350px">{{datosUsuario.usuarioNombre}} </td>
              <td style="border: 2px solid grey;padding:7px 5px;width: 100px;"><strong>C.I.:</strong> </td>
              <td style="border: 2px solid grey;padding:7px 5px;width: 300px;">{{datosUsuario.usuarioIdentificacion}} </td>
            </tr>
            <tr>
              <td style="border: 2px solid grey;padding:7px 5px;"><strong>Fecha de nacimiento:</strong> </td>
              <td style="border: 2px solid grey;padding:7px 5px;">{{formatoFecha(datosUsuario.usuarioFechaNacimiento)}}</td>
              <td style="border: 2px solid grey;padding:7px 5px;"><strong>Edad:</strong> </td>
              <td style="border: 2px solid grey;padding:7px 5px;">{{calcularEdad(datosUsuario.usuarioFechaNacimiento)}}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div style="width: 100%;margin-bottom: 30px;">
        <table style="border-collapse: collapse;">
          <tbody>
            <tr>
              <td style="padding:7px 5px;width: 250px;"><strong>Problema de Salud:</strong> </td>
              <td style="padding:7px 5px;width: 675px;">{{data.consultaProblema}}</td>
            </tr>
            <tr>
              <td style="padding:7px 5px;"><strong>Diagnóstico:</strong> </td>
              <td style="padding:7px 5px;">{{data.diagnostico}}</td>
            </tr>
            <tr>
              <td style="padding:7px 5px;"><strong>Examinación:</strong> </td>
              <td style="padding:7px 5px;">{{data.examinacionObservacion}}</td>
            </tr>
            <tr>
              <td style="padding:7px 5px;"><strong>Exámenes Complementarios:</strong> </td>
              <td style="padding:7px 5px;">{{data.examinacionInspeccion}}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div style="width: 900px;margin-bottom: 10px;font-size:16px;text-align: left;">
        <strong>Evolución</strong>
        <br>
      </div>
      <div style="width: 100%;margin-bottom: 30px;">
        <div *ngFor="let evolucion of datosEvolucion; let index=index" style="margin-bottom: 30px;">

          <table style="border: 2px solid grey;border-collapse: collapse;">
            <tbody>
              <tr>
                <td style="border: 2px solid grey;padding:7px 5px;width: 200px;text-align: center;"><strong>Fecha</strong>
                </td>
                <td style="border: 2px solid grey;padding:7px 5px;width: 700px;text-align: center;">
                  <strong>Descripción</strong> </td>
              </tr>
              <tr>
                <td style="border: 2px solid grey;padding:7px 5px;">{{evolucion.evolucionFecha}} </td>
                <td style="border: 2px solid grey;padding:7px 5px;">{{evolucion.evolucionDescripcion}}
                <td>
              </tr>
            </tbody>
          </table>

          <mat-grid-list cols="3" rowHeight="125px">
            <div class="scroll" *ngFor="let item of evolucion.fotosEvolucions">
              <mat-grid-tile>
                <img [src]="item.fotoEvolucionImagen" width="50%">
              </mat-grid-tile>
            </div>
          </mat-grid-list>

        </div>
      </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" style="margin: 5px;" (click)="descargar()">Descargar</button>
</div>


