<div class="loading-page"
       *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<mat-card class="mat-elevation-z8" style="margin: 10px;">
    <mat-card-header>
        <mat-card-title>Consultas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="8" rowHeight="78">
            <form [formGroup]="formFiltro">
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Rango de fechas</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="fechaDesde" placeholder="Fecha inicio">
                            <input matEndDate formControlName="fechaHasta" placeholder="Fecha fin">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <!--<mat-error *ngIf="formFiltro.controls.fechaDesde.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="formFiltro.controls.fechaHasta.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Paciente</mat-label>
                        <mat-select formControlName="pacienteId">
                            <mat-option value="0">Todos</mat-option>
                            <ng-container *ngFor="let item of usuarios">
                                <mat-option *ngIf="item.rolId==2" [value]="item.usuarioId" >
                                {{item.usuarioNombre}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <mat-form-field appearance="outline">
                        <mat-label>Problema de salud</mat-label>
                        <input matInput type="text" formControlName="problema">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <button mat-raised-button color="accent" (click)="cargarTabla()">Buscar</button>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <button mat-raised-button color="primary"  routerLink="/historia-clinica/consultas">Nueva Consulta</button>
                </mat-grid-tile>
            </form>
            
        </mat-grid-list>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.consultaFecha}} </td>
            </ng-container>

            <ng-container matColumnDef="paciente">
                <th mat-header-cell *matHeaderCellDef> Paciente </th>
                <td mat-cell *matCellDef="let element"> {{element.pacienteNombre}} </td>
            </ng-container>

            <ng-container matColumnDef="problema">
                <th mat-header-cell *matHeaderCellDef> Problema </th>
                <td mat-cell *matCellDef="let element"> {{element.consultaProblema}} </td>
            </ng-container>

            <ng-container matColumnDef="diagnostico">
                <th mat-header-cell *matHeaderCellDef> Diagnostico </th>
                <td mat-cell *matCellDef="let element"> {{element.diagnostico}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="verConsulta(element)">Ver</button>
                    <button mat-raised-button color="accent" style="margin-right: 5px;" (click)="verEvaluacion(element)">Agregar evaluación</button>
                    <button mat-stroked-button color="primary" (click)="abrirDescarga(element)">Descargar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div id="divHtml" style="padding: 40px;width: 1000px;" [hidden]="true">
            <div style="float:left;margin-bottom:30px;width:20%;text-align: center;">
              <img id="logoTrading" src="assets/fisioblack.png" width="75%">
            </div>
            <div style="float: left;margin-bottom:100px;width:60%;text-align: center;margin-top: 30px;padding-right: 20%;">
              <h1><strong>CENTRO DE REHABILITACIÓN "FLORES FISIOTERAPIA" <br>INFORME DE EVOLUCIÓN DEL TRATAMIENTO </strong> </h1>
            </div>
            <br>
            <div style="width: 100%;margin-bottom: 10px;font-size:16px">
              <strong >Datos de identificación del paciente</strong>
            </div>
            <div style="width: 100%;margin-bottom: 30px;">  
              <table style="border: 2px solid grey;border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td style="border: 2px solid grey;padding:7px 5px;width: 150px;"><strong>Nombre:</strong> </td>
                    <td style="border: 2px solid grey;padding:7px 5px;width: 350px"></td>
                    <td style="border: 2px solid grey;padding:7px 5px;width: 100px;"><strong>C.I.:</strong> </td>
                    <td style="border: 2px solid grey;padding:7px 5px;width: 300px;"></td>
                  </tr>
                  <tr>
                    <td style="border: 2px solid grey;padding:7px 5px;"><strong>Fecha de nacimiento:</strong> </td>
                    <td style="border: 2px solid grey;padding:7px 5px;"></td>
                    <td style="border: 2px solid grey;padding:7px 5px;"><strong>Edad:</strong> </td>
                    <td style="border: 2px solid grey;padding:7px 5px;"></td>
                  </tr>
          
                </tbody>
              </table>
            </div>
        
            <div style="width: 100%;margin-bottom: 30px;">  
              <table style="border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td style="padding:7px 5px;width: 250px;"><strong>Problema de Salud:</strong> </td>
                    <td style="padding:7px 5px;width: 675px;">{{datosConsulta.consultaProblema}}</td>
                  </tr>
                  <tr>
                    <td style="padding:7px 5px;"><strong>Diagnóstico:</strong> </td>
                    <td style="padding:7px 5px;" >{{datosConsulta.diagnostico}}</td>
                  </tr>
                  <tr>
                    <td style="padding:7px 5px;"><strong>Examinación:</strong> </td>
                    <td style="padding:7px 5px;">{{datosConsulta.examinacionObservacion}}</td>
                  </tr>
                  <tr>
                    <td style="padding:7px 5px;"><strong>Exámenes Complementarios:</strong> </td>
                    <td style="padding:7px 5px;">{{datosConsulta.examinacionInspeccion}}</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            
            <div style="width: 900px;margin-bottom: 10px;font-size:16px;text-align: left;">
                <strong >Evolución</strong>
                <br>
            </div>
            <div style="width: 100%;margin-bottom: 30px;">  
                <div *ngFor="let fase of datosEvolucion; let index=index" style="margin-bottom: 30px;">
                   
                    <table style="border: 2px solid grey;border-collapse: collapse;">
                        <tbody>
                            <tr>
                                <td style="border: 2px solid grey;padding:7px 5px;width: 200px;text-align: center;"><strong>Fecha</strong> </td>
                                <td style="border: 2px solid grey;padding:7px 5px;width: 700px;text-align: center;"><strong>Descripción</strong> </td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid grey;padding:7px 5px;"> </td>
                                <td style="border: 2px solid grey;padding:7px 5px;"><td>
                            </tr>
                        </tbody>
                    </table>

                    <mat-grid-list cols="3" rowHeight="125px">
                        <div class="scroll"*ngFor="let item of fase.fotosEvolucions">
                            <mat-grid-tile >
                                <img [src]="item.fotoEvolucionImagen"  width="50%">
                            </mat-grid-tile>
                        </div>
                    </mat-grid-list>
                    
                </div>
            </div>
        </div>



    </mat-card-content>
</mat-card>