
        <div id="divHtmlFisio" style="padding: 40px;width: 1000px;">
            <div style="float:left;margin-bottom:30px;width:20%;text-align: center;">
                <img id="logoTrading" src="assets/fisioblack.png" width="75%">
            </div>
            <div style="float: left;margin-bottom:100px;width:80%;text-align: center;margin-top: 30px">
                <h1><strong>CENTRO DE REHABILITACIÓN "FLORES FISIOTERAPIA" <br>TRATAMIENTO </strong> </h1>
            </div>
            <br>
            <div style="width: 100%;font-size: 15px;margin-bottom: 30px;">
                <table style="border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="padding:7px 5px;width: 200px;"><strong>Nombre del paciente:</strong> </td>
                            <td style="padding:7px 5px;width: 700px">{{datosConsulta.pacienteNombre}} </td>
                        </tr>
                        <tr>
                            <td style="padding:7px 5px;"><strong>Fecha consulta:</strong> </td>
                            <td style="padding:7px 5px;">{{datosConsulta.consultaFecha}}</td>
                        </tr>
                        <tr>
                            <td style="padding:7px 5px;"><strong>Problema:</strong> </td>
                            <td style="padding:7px 5px;">{{datosConsulta.consultaProblema}}</td>
                        </tr>
                        <tr>
                            <td style="padding:7px 5px;"><strong>Diagnóstico:</strong> </td>
                            <td style="padding:7px 5px;">{{datosConsulta.diagnostico}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div style="width: 100%;margin-bottom: 10px; padding: 10px 0;">
                <div *ngFor="let fase of datosTratamientos; let index=index">
                    <div style="padding: 10px 0; font-size: 16px;width: 900px;">
                        <div><strong>Fase {{fase.tratamientoFase}}: {{fase.tratamientoDescripcion}}</strong></div>
                        <div style="padding-bottom: 10px"><strong>Días: </strong> {{fase.tratamientoDias}}</div>
                        <div style="padding-bottom: 10px"><strong>Descripción: </strong> {{fase.tratamientoDescripcion}} </div>

                    </div>
                    <div style="padding: 10px 0;margin-bottom: 20px;">
                        <table style="border: 2px solid grey;border-collapse: collapse;">
                            <tbody>
                                <tr>
                                    
                                    <td style="border: 2px solid grey;width: 130px;text-align: center;" *ngFor="let item of fase.tratamientosDia">
                                        <strong> {{formatoFecha(item.tratamientoDiaFecha)}}</strong> 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 2px solid grey;width: 130px;text-align: center;" *ngFor="let item of fase.tratamientosDia"> 
                                        <div  style="border: 2px solid #83cd8d; margin: 5px 10px; background-color: #a7d4a0; padding: 5px; border-radius: 10px;">
                                            Ejercicio en casa
                                        </div>
                                        <div >Observar video de guía</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div  *ngFor="let item of fase.tratamientosDia">
                        <div>{{formatoFecha(item.tratamientoDiaFecha)}} </div>
                        <div *ngFor="let ejercicio of item.ejercicioTratamientos; let i=index">
                            <div style="padding-bottom: 10px;"> <strong style="text-decoration: underline;">Ejercicio
                                    {{i+1}}. {{ejercicio.ejercicioNombre}}</strong></div>
                            <div style="padding-bottom: 10px;"> <strong>Repeticiones: </strong>
                                {{ejercicio.ejercicioTratamientoRepeticiones}}</div>
                            <div style="padding-bottom: 10px;"> <strong>Series: </strong>
                                {{ejercicio.ejercicioTratamientoSerie}}</div>
                            <div style="padding-bottom: 10px;"> <strong>Descanso: </strong> {{ejercicio.ejercicioDescanso}}
                            </div>
                            <div style="padding-bottom: 10px;"> <strong>Observación: </strong>
                                {{ejercicio.ejercicioObservacion}}</div>
                        </div>
                    </div>
                    
                    <div style="padding: 10px 0;width: 900px;">
                        <strong>Recomendaciones</strong><br>
                        <p>{{fase.tratamientoRecomendacion}}</p>
                    </div>
                </div>
            </div>
        </div>