<div class="loading-page"
       *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<mat-grid-list [cols]="breakpoint" [rowHeight]="alturaFila" (window:resize)="onResize($event)"
  class="img-login">
  <mat-grid-tile class="grid-login">
    <div style="width: 100%;">
      <div [ngStyle]="{'text-align': alineacionLogo}" class="m-xs-login">
        <a href="http://floresfisioterapia.com/" target="_blank">
          <img src="assets/logo-ff.png" width="250">
        </a>
        <br>
        <a href="http://floresfisioterapia.com/" target="_blank" class="b-white">
          floresfisioterapia.com
        </a>
      </div>
    </div>


  </mat-grid-tile>
  <mat-grid-tile [rowspan]="numeroFilas" class="b-white">
    <div [ngStyle]="{'text-align': 'left'}" style="width: 100%;">
      <mat-card class="mat-elevation-z8 card" class="t-c-m-p-login">
        <mat-card-header>
          <div style="width: 100%;">
            <h2 style="text-align: left;">{{nombreEmpresa}}</h2>
          </div>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formLogin" *ngIf="loginForm">
            <mat-form-field appearance="outline">
              <mat-label>Correo electronico</mat-label>
              <input matInput type="email" placeholder="ejemplo@mail.com" formControlName="email">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" placeholder="**********" formControlName="password">
              <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
          </form>
          <form [formGroup]="formReg" *ngIf="!loginForm">
            <mat-grid-list cols="2" rowHeight="80px">
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre completo</mat-label>
                  <input matInput type="nombre" placeholder="" formControlName="nombre" required>
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error *ngIf="formReg.controls.nombre.hasError('required')">Campo obligatorio*</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="outline">
                  <mat-label>Cédula</mat-label>
                  <input matInput type="text" placeholder="" formControlName="cedula" maxlength="10" onkeypress="return event.charCode >= 48 && event.charCode <=57" required>
                  <mat-icon matSuffix>badge</mat-icon>
                  <mat-error *ngIf="formReg.controls.cedula.hasError('required')">Campo obligatorio*</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="outline">
                  <mat-label>Fecha nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <input matInput type="text" placeholder=""  formControlName="telefono" maxlength="13" onkeypress="return event.charCode >= 48 && event.charCode <=57" required>
                  <mat-icon matSuffix>call</mat-icon>
                  <mat-error *ngIf="formReg.controls.telefono.hasError('required')">Campo obligatorio*</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>Domicilio</mat-label>
                  <input matInput type="text" placeholder="" formControlName="domicilio" required>
                  <mat-icon matSuffix>location_pin</mat-icon>
                  <mat-error *ngIf="formReg.controls.domicilio.hasError('required')">Campo obligatorio*</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput type="email" placeholder="" formControlName="email" required [errorStateMatcher]="matcher">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="formReg.controls.email.hasError('email')">El campo ingresado no es un correo</mat-error>
                  <mat-error *ngIf="formReg.controls.email.hasError('required')">Campo obligatorio*</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" placeholder="**********" formControlName="password" required>
                  <mat-icon matSuffix>password</mat-icon>
                  <mat-error *ngIf="formReg.controls.password.hasError('required')">Campo obligatorio*</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <mat-form-field appearance="outline">
                  <mat-label>Confirmar Contraseña</mat-label>
                  <input matInput type="password" placeholder="**********" formControlName="confirmPassword" required>
                  <mat-icon matSuffix>password</mat-icon>
                  <mat-error *ngIf="formReg.controls.confirmPassword.hasError('required')">Campo obligatorio*</mat-error>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="login()"
            *ngIf="loginForm">Ingresar</button>
          <button mat-raised-button color="accent" (click)="reg()"
            *ngIf="loginForm">Registro</button>
          <button mat-raised-button color="accent" (click)="log()"
            *ngIf="!loginForm">Ingreso</button>
          <button mat-raised-button color="primary" (click)="registrar()"
            *ngIf="!loginForm">Registrarse</button>
            <br>
            <div style="padding-top: 10px;">
              <a href="/reseteo">Recuperar Contraseña</a>
            </div>
            
        </mat-card-actions>
      </mat-card>
    </div>

  </mat-grid-tile>
</mat-grid-list>