<mat-card>
    <mat-card-header>
        <mat-card-title>Seguimiento paciente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let fase of listaFases" >
            <h3>Fase {{fase.tratamientoFase}}</h3>
            <mat-grid-list cols="5" rowHeight="300">
                <mat-grid-tile *ngFor="let item of fase.tratamientosDia">
                    <div style="height: 100%;text-align: center;">
                        <h3>{{formatoFecha(item.tratamientoDiaFecha)}} </h3>
                        <mat-divider></mat-divider>
                        <ng-container *ngFor="let ejercicio of item.ejercicioTratamientos" style="width: 100%;padding: 5px;">
                            <button mat-raised-button color="accent" > 
                                <span style="word-break: break-all;max-width:20px">{{ejercicio.ejercicio?.ejercicioNombre}}</span>
                                <mat-checkbox [checked]="ejercicio.ejercicioEstado" color="primary" ></mat-checkbox>
                            </button>
                                
                        </ng-container>
                    </div>
                </mat-grid-tile>
                
            </mat-grid-list>
            <hr>
        </div>        
            
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Aceptar</button>
    </mat-card-actions>
</mat-card>