<mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile style="background-image: linear-gradient(#211966,#c7eb2686); opacity: 85%;">
        <div [ngStyle]="{'text-align': 'center'}" >
            <mat-card class="mat-elevation-z8 card" style="text-align: center;margin: 7%;padding: 4%;">
            <mat-card-header>
                <div style="width: 100%;">
                <h2 style="text-align: left;">{{nombreEmpresa}}</h2>
                </div>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="formCodigo" *ngIf="envioCodigo">
                    <h2>Escriba su correo electrónico</h2>
                    <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput name="emailRecuperar" type="email" placeholder="" formControlName="email" required [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="formReg.controls.email.hasError('email')">El campo ingresado no es un correo</mat-error>
                    <mat-error *ngIf="formReg.controls.email.hasError('required')">Campo obligatorio*</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="enviarCodigo()">Enviar Código </button>
                </form>

                <form [formGroup]="formVerificacion" *ngIf="verificacionCodigo">
                    <h1>El código de verificación fue enviado a su correo por favor ingreselo a continuación</h1>
                    <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput name="codigo" type="text" placeholder="" formControlName="codigo" required >
                    
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="verificarCodigo()">Verificar </button>
                </form>


                <form [formGroup]="formReg" *ngIf="reseteoCodigo">
                
                    <mat-form-field appearance="outline">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput name="emailRecuperar" type="email" placeholder="" formControlName="email" required [errorStateMatcher]="matcher">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="formReg.controls.email.hasError('email')">El campo ingresado no es un correo</mat-error>
                        <mat-error *ngIf="formReg.controls.email.hasError('required')">Campo obligatorio*</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nueva Contraseña</mat-label>
                        <input matInput name="nuevoPassword" type="password" placeholder="**********" formControlName="password" required>
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-error *ngIf="formReg.controls.password.hasError('required')">Campo obligatorio*</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="resetear()">Guardar Cambios </button>
                </form>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>

        